.friends {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 370px;
  align-items: center;
}

.friend_list {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0;
}

